{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Website Title</title>
    <!-- Add your CSS files here -->
    <link rel="stylesheet" type="text/css" href="{% static 'news/css/style.css' %}">
</head>
<body>
    <header>
        <h1>Your Website Title</h1>
    </header>

    <nav>
        <!-- Add your navigation elements here -->
    </nav>

    <main>
        {% block content %}
        <!-- This is where the content from child templates will go -->
        {% endblock %}
    </main>

    <footer>
        <p>© 2024 EPIC resolutions</p>
    </footer>

    <!-- Add your JavaScript files here -->
    <!-- <script src="{% static 'js/script.js' %}"></script> -->
</body>
</html>