/* Global Variables */
:root {
    --primary-color: rgb(255, 255, 255);
    --secondary-color: rgb(34, 30, 31);
    --tertiary-color: rgb(170, 191, 170);
    --quaternary-color: rgb(42, 95, 85);
}

/* Reset & Base Styles */
html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    /* Stack elements vertically */
    min-height: 100vh;
    /* Use vh unit to fill full viewport height */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    flex: 1;
    /* Allows the main content to grow and fill available space */
}

*,
*::before,
*::after {
    box-sizing: inherit;
    /* Ensures box-sizing is consistent across elements */
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */
header {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    display: flex;
    align-items: center;
    padding: 20px;
}

header a {
    font-weight: bold;
    color: var(--secondary-color);
    text-decoration: none;
    /* Removes underline */
    margin-right: 20px;
    /* Spacing between links */
}

/* Navigation */
.nav {
    background-color: var(--quaternary-color);
    color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
}

.nav a,
.nav ul li a {
    text-decoration: none;
    /* Remove underline from all links */
    color: inherit;
    /* Inherit color from .nav */
    font-size: inherit;
    font-weight: bold;
    text-transform: uppercase;
}

.nav ul {
    list-style: none;
    /* Remove bullet points */
    display: flex;
    align-items: center;
    padding: 0;
    /* Remove padding */
    margin: 0;
    /* Remove margin */
}

.nav a img {
    height: 21px;
    /* Logo height */
    width: auto;
    /* Maintain aspect ratio */
    vertical-align: middle;
}

.nav ul li {
    margin-right: 20px;
    /* Consistent margin for list items */
}

/* Text Styles */
h1,
h2,
h3,
p,
small,
.foreground-text {
    color: var(--secondary-color);
}

/* Table Styles */

table {
    position: relative;
    margin-bottom: 20px;
    /* Space between the table and any content below */
}

table::after {
    content: "";
    position: absolute;
    left: 0;
    /* Indent from the left */
    right: 0;
    /* Stretch to the right edge */
    bottom: 0;
    /* Align to the bottom */
    height: 2px;
    /* Height of the border */
    background-color: var(--quaternary-color);
    /* Color of the border */
}

th,
td {
    padding: 10px;
}

th {
    font-weight: bold;
    text-align: left;
}

th.primary {
    background-color: var(--quaternary-color);
    color: var(--primary-color);
}

th.secondary {
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
}

td.secondary {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

/* Form Styles */
form {
    margin-bottom: 20px;
}

form input[type="text"],
form input[type="submit"] {
    padding: 5px;
}

form input[type="submit"] {
    background-color: var(--secondary-color);
    border: none;
    color: var(--primary-color);
}

/* Button Styles */
button {
    background-color: var(--primary-color);
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: inherit;
    font-weight: bold;
    font-size: 1em;
    margin: 4px 2px;
    cursor: pointer;
}

button:hover {
    opacity: 0.7;
    background-color: var(--primary-color);
}

/* Container styles */
.content-container {
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    /* Make container fill the width */
    min-height: 300px;
    /* Adjust based on your needs */
    position: relative;
    padding-right: 35%;
}

.background-text {
    font-weight: bold;
    position: absolute;
    right: 0;
    /* Aligns the element to the right */
    text-align: right;
    width: 35%;
    /* Define width to control space */
    opacity: 0.1;
    /* Additional styling */
    max-height: 100%;
    /* Optional: Sets the maximum height of the element to 100% of its container's height */
    padding-right: 20px;
}

.foreground-text {
    font-size: 20px;
    z-index: 2;
    padding-left: 20px;
    /* Indent text 20px from the left */
}

/* Additional container-specific background colors */
.container-primary {
    background-color: var(--primary-color);
}

.container-secondary {
    background-color: rgb(34, 30, 31, 0.1);
}

.container-tertiary {
    background-color: var(--tertiary-color);
}

.container-quaternary {
    background-color: var(--quaternary-color);
}

/* Comment styles */
.comment-container {
    border: 1px solid var(--secondary-color);
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 0px;
    background-color: var(--primary-color);
}

.comment-meta {
    font-size: 0.9em;
    color: var(--secondary-color);
    margin-bottom: 5px;
}

.comment-text {
    font-size: 1em;
    line-height: 1.4;
}

/* Email obfuscation */
.email {
    unicode-bidi: bidi-override;
    direction: rtl;
}

/* Footer Styles */
.footer {
    background-color: rgb(34, 30, 31, 0.1);
    color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
}

.footer ul {
    display: flex;
    list-style: none;
    /* Remove bullet points */
    padding: 0;
    margin: 0;
}

.footer ul li {
    margin-right: 20px;
    /* Space between list items */
}

.footer a {
    color: inherit;
    /* Inherit color from parent */
    text-decoration: none;
    /* Remove underline */
    font-weight: normal;
    /* Normal font weight */
}

.footer a img {
    height: 20px;
    /* Logo height */
    width: auto;
    /* Maintain aspect ratio */
}