/* CSS Variables */
:root {
    --main-color: #2F1D1D;
    --secondary-color: #FFA500;
}

/* Table styles */
th {
    font-weight: bold;
    padding: 10px;
    text-align: left;
}

td {
    padding-left: 10px;
    padding-right: 10px;
}

/* Primary heading */
th.primary {
    background-color: var(--main-color);
    color: #FFF;
}

/* Secondary heading */
th.secondary {
    background-color: var(--secondary-color);
    color: #FFF;
    padding-left: 20px;
}

/* Secondary data */
td.secondary {
    padding-left: 40px;
}