{% extends "base.html" %}

{% block content %}
<div class="content-container">
    <h1>About</h1>
    <p>This website is a personal project, born from the desire to learn about web application development and explore
        ways to make a positive impact.</p>
    <p>It's a beginning, and the work is far from complete. Over time, I hope to add more content and features.</p>
    <p>If you'd like to contribute through code, content, or feedback, please feel free to reach out via <span
            id="emailLink">email</span>.</p>
    <noscript>Please enable JavaScript to see the email link or use this format: collaborate [AT] epicresolutions [DOT]
        org.</noscript>
    <p> — Rick</p>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var emailUser = 'collaborate';
        var emailDomain = 'epicresolutions.org';
        var emailLinkElement = document.getElementById('emailLink');
        if (emailLinkElement) {
            emailLinkElement.innerHTML = '<a href="mailto:' + emailUser + '@' + emailDomain + '">email</a>';
        }
    });
</script>

{% endblock %}