{% extends "base.html" %}

{% block content %}
<div class="content-container">
    <h1>Copyright</h1>
    <p>This document acknowledges the use of open-source software and libraries in this project, as specified within the
        project's <code>requirements.txt</code> file. We express our gratitude to the open-source community for making
        these resources available. The use of these dependencies complies with their respective licenses and copyright
        notices.</p>
    <p>Our project benefits significantly from the collective wisdom, effort, and generosity of developers and
        organizations worldwide. For a detailed list of all dependencies and their versions, please refer to the
        <code>requirements.txt</code> file located in the project's root directory. This file encompasses a range of
        libraries, from web development frameworks and cryptography packages to data manipulation and user interface
        enhancements, reflecting the diverse needs and modular architecture of our project.</p>
    <p>We are committed to respecting the intellectual property rights of others and aim to ensure that all software
        used in this project adheres to its license terms. If you have any questions or concerns about the use of any
        software within this project, please feel free to contact us for further information.</p>
</div>
{% endblock %}