{% extends "base.html" %}
{% block content %}

<body>
    <div class="container container-primary">
        <div class="background-text">#0</div>
        <div class="foreground-text">Welcome to <strong>epicresolutions.org</strong>, where we provide a clear path to
            action for anyone looking to make a difference. In just four steps, you can create a personalised list of
            actionable resolutions that align with your societal roles and the causes you care about.</div>
        <div class="foreground-text">First, <a href="#instruction">let's explore the concept</a>, and then we can put
            together your list.</div>
    </div>
    <div class="container container-secondary">
        <a id="instruction" href="#instruction" style="position:absolute; margin-top:-300px; visibility:hidden;"></a>
        <div class="background-text">#1</div>
        <div class="foreground-text">Begin by selecting your societal <strong>role or roles</strong>. This will help you
            find resolutions that you are uniquely positioned to act upon. We identify nine roles, and it's the initial
            letters of these roles that make our resolutions <q>EPIC</q>: Employee, Employer, Entrepreneur, Parent or
            guardian, Politician, Investor, Citizen, Consumer, and Child. Each of these roles offers a unique
            perspective and set of responsibilities, and when combined, they provide a comprehensive view of societal
            engagement.
        </div>
    </div>
    <div class="container container-tertiary">
        <div class="background-text">#2</div>
        <div class="foreground-text">The next step is to select the <strong>causes</strong> you care about. Whether it's
            sustainability, equality and diversity, or health and well-being, some causes might resonate with you more
            than others. By selecting the causes you care about, you can focus your efforts on the issues or challenges
            in society that you feel passionate about and wish to see addressed. As Dr. Seuss wisely said <q>Unless
                someone like you cares a whole awful lot, nothing is going to get better. It's not.</q>
        </div>
    </div>
    <div class="container container-quaternary">
        <div style="color: var(--primary-color)" class="background-text">#3</div>
        <div style="color: var(--primary-color)" class="foreground-text">After you have selected your roles and causes,
            we will present you with a list of actionable <strong>resolutions</strong> tailored to your interests. You
            can either adopt this list as it is or further personalise it by excluding specific resolutions.</div>
    </div>
    <div class="container container-primary">
        <div class="background-text">#4</div>
        <div class="foreground-text">Finally, you can <strong>download</strong> your personalised list of resolutions as
            a PDF for offline reference or printing. Use this list as a daily reminder to take action and make a
            difference in the causes you care about.</div>
        <div class="foreground-text">Now, <a href="resolutions/select-roles/">let's compile <strong>your</strong>
                list</a>.</div>
    </div>
</body>

<script>
    window.onload = function () {
        const containers = document.querySelectorAll('.container');
        containers.forEach(container => {
            const backgroundText = container.querySelector('.background-text');
            const scaleFactor = 0.8; // Adjust this value based on your design
            const fontSize = container.offsetHeight * scaleFactor;
            backgroundText.style.fontSize = `${fontSize}px`;
        });
    };
</script>
{% endblock %}