{% extends "base.html" %}
{% block content %}

<body>
    <div class="container container-primary">
        <div class="background-text">#0</div>
        <div class="foreground-text">Welcome to <strong>epicresolutions.org</strong>, where we provide a clear path to
            action for anyone looking to make a difference. In just four simple steps, you can create a personalised
            list of actionable resolutions that align with your roles and interests.</div>
        <div class="foreground-text">Let's start by <a href="#instruction">exploring the idea</a>, and then we'll build
            your list together.</div>
    </div>
    <div class="container container-secondary">
        <a id="instruction" href="#instruction" style="position:absolute; margin-top:-300px; visibility:hidden;"></a>
        <div class="background-text">#1</div>
        <div class="foreground-text">Begin by selecting the <strong>consumer resolutions</strong> that interest you
            most. These are grouped by areas such as Food, Travel, and Living. Choose the actions you want to take or
            continue as a consumer. This will help you find other resolutions that are relevant to your lifestyle and
            highlight opportunities where your choices can make a real difference.
        </div>
    </div>
    <div class="container container-tertiary">
        <div class="background-text">#2</div>
        <div class="foreground-text">Next, identify the <strong>roles</strong> that apply to you. Only roles with
            relevant resolutions will be shown, so you can focus on what matters most. We recognise ten key roles, and
            together their initials spell "EPIC": Educator, Employee or Contractor, Employer, Entrepreneur, Parent or
            Caregiver, Politician, Investor, Citizen, Consumer, and Child. Each role brings its own perspective and set
            of responsibilities. By combining these roles, you gain a broad and practical view of how you can contribute
            to society.
        </div>
    </div>
    <div class="container container-quaternary">
        <div style="color: var(--primary-color)" class="background-text">#3</div>
        <div style="color: var(--primary-color)" class="foreground-text">After you have selected your consumer
            resolutions and roles, you will see a list of actionable resolutions tailored to your choices. You can
            either adopt this list as it is or <strong>personalise</strong> it further by excluding specific roles and
            resolutions. This is your opportunity to create a plan that truly fits your life and interests, making your
            resolution list as unique as you are.</div>
    </div>
    <div class="container container-primary">
        <div class="background-text">#4</div>
        <div class="foreground-text">Finally, <strong>download</strong> your personalised resolution list as a PDF. Keep
            it for offline reference or print it as a daily reminder to take action and make a difference.</div>
        <div class="foreground-text">This process only takes a few minutes and results in a tailored action plan
            designed just for you. Ready to get started? Let's <a href="{% url 'resolutions:introduction' %}">compile
                your personalised list</a> together.</div>
    </div>
</body>

<script>
    window.onload = function () {
        const containers = document.querySelectorAll('.container');
        containers.forEach(container => {
            const backgroundText = container.querySelector('.background-text');
            const scaleFactor = 0.8; // Adjust this value based on your design
            const fontSize = container.offsetHeight * scaleFactor;
            backgroundText.style.fontSize = `${fontSize}px`;
        });
    };
</script>
{% endblock %}