{% extends "base.html" %}

{% block content %}
<div class="content-container">
    <h1>Privacy</h1>
    <p>Welcome to our website. We are committed to protecting your privacy. This privacy notice explains how we handle
        your personal information.</p>
    <h2>No personal information collection</h2>
    <p>This website does not collect, store, or process any personal information from its users. We respect your privacy
        and are committed to protecting it. Since we do not gather any personal data, there is no information to share,
        sell, or disclose to third parties.</p>
    <h2>Cookies and tracking technologies</h2>
    <p>We do not use cookies or any other tracking technologies to monitor or collect information about your activities
        on our website.</p>
    <h2>Data retention</h2>
    <p>As we do not collect any personal data, there is no data to retain. Consequently, we do not have any data
        retention policies or practices.</p>
    <h2>Third-party links</h2>
    <p>Our website may contain links to third-party websites. We are not responsible for the privacy practices or the
        content of these third-party sites. We encourage you to read the privacy notices of any linked websites you
        visit.</p>
    <h2>Changes to this privacy notice</h2>
    <p>We may update this privacy notice from time to time. Any changes will be posted on this page with an updated
        revision date. We encourage you to review this privacy notice periodically to stay informed about how we are
        protecting your information.</p>
    <h2>Contact information</h2>
    <p>If you have any questions or concerns about our privacy practices, please contact us via <span
            id="emailLink">email</span>.</p>
    <h2>Revision date</h2>
    <p>This privacy notice was last updated on July 30, 2024.</p>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var emailUser = 'privacy';
        var emailDomain = 'epicresolutions.org';
        var emailLinkElement = document.getElementById('emailLink');
        if (emailLinkElement) {
            emailLinkElement.innerHTML = '<a href="mailto:' + emailUser + '@' + emailDomain + '">email</a>';
        }
    });
</script>
{% endblock %}