{% extends "base.html" %}

{% block content %}
<div class="content-container">
    <h1>Vulnerabilities</h1>
    <p>EPIC resolutions is committed to providing a secure website. If you discover a security vulnerability, please
        report
        it
        to us by emailing <span class="email">
            <p>When reporting a security vulnerability, please include the following:</p>
            <ul>
                <li>Describe the location and potential impact of the vulnerability</li>
                <li>A detailed description of the steps required to reproduce the vulnerability</li>
                <li>Your name and contact information</li>
            </ul>
            <p>EPIC resolutions will review your report and respond as soon as possible. We appreciate your help in
                keeping
                our website
                safe.</p>
        </span>
</div>
{% endblock %}