{% extends "base.html" %}

{% block content %}
<div class="content-container">
  <p>Print or save your personal resolutions:</p>
  <table>
    <tr>
      <th class="primary">My resolutions</th>
    </tr>
    {% for role in roles %}
    <tr>
      <th class="secondary">{{ role.name }}</th>
    </tr>
    {% for resolution in resolutions %}
    {% if resolution.role.id == role.id %}
    <tr>
      <td class="secondary">{{ resolution.positive_action }}</td>
    </tr>
    {% endif %}
    {% endfor %}
    {% endfor %}
  </table>

  <div style="margin-bottom: 20px;">
    <button type="button" onclick="window.history.back();">&laquo; Previous</button>
    <button onclick="generatePDF()">Download PDF</button>
  </div>
</div>
<script>
  function generatePDF() {
    window.location.href = '{% url "resolutions:generate_pdf" %}';
  }
</script>

{% endblock %}