{% extends "base.html" %}

{% block content %}
<div class="content-container">
  <p>Download your personal list for offline reference or printing:</p>
  <table>
    <tr>
      <th class="primary">My resolutions</th>
    </tr>
    {% for role_data in roles_with_resolutions %}
      <tr>
        <th class="secondary">{{ role_data.role.name }}</th>
      </tr>
      {% for resolution in role_data.resolutions %}
        <tr>
          <td class="secondary">{{ resolution.display_label }}</td>
        </tr>
      {% endfor %}
    {% endfor %}
  </table>

  <div style="margin-bottom: 20px;">
    <button type="button" onclick="window.history.back();">&laquo; Previous</button>
    <button onclick="generatePDF()">Download PDF</button>
  </div>
</div>

<script>
  function generatePDF() {
    window.location.href = '{% url "resolutions:generate_pdf" %}';
  }
</script>
{% endblock %}
