{% block content %}
  <h2>Resolutions</h2>
    <table>
      {% for role_with_resolutions in roles_with_resolutions %}
    <tr>
      <th colspan="2">{{ role_with_resolutions.role.name }}</th>
    </tr>
    {% for resolution in role_with_resolutions.resolutions %}
      <tr>
        <td>{{ resolution.positive_action }}</td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="2">No associated resolutions</td>
      </tr>
    {% endfor %}
  {% empty %}
    <tr>
      <td colspan="2">No roles found.</td>
    </tr>
  {% endfor %}
    </table>
  {% endblock %}

</body>
</html>