{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EPIC resolutions</title>
    <!-- Add your CSS files here -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
    <nav class="nav">
        <ul>
            <li><a href="{% url 'home' %}">
                    <img src="{% static 'images\EPIC White logo Transparent bg.svg' %}" alt="Website Logo">
                </a></li>
            <li>News</li>
            <li><a href="{% url 'resolutions:select_roles' %}">Resolutions</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
        </ul>
    </nav>

    <main>
        {% block content %}
        <!-- This is where the content from child templates will go -->
        {% endblock %}
    </main>

    <footer class="footer">
        <ul>
            <li><a href="{% url 'vulnerabilities' %}">Vulnerabilities</a></li>
            <li><a href="{% url 'privacy' %}">Privacy</a></li>
            <li><a href="{% url 'copyright' %}">Copyright</a></li>
            <li><a href="{% url 'accessibility' %}">Accessibility</a></li>
        </ul>
    </footer>

    <!-- Add your JavaScript files here -->
    <!-- <script src="{% static 'js/main.js' %}"></script> -->

</body>

</html>