{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EPIC resolutions</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images\favicon.ico' %}">
    <!-- Add your CSS files here -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
    <nav class="nav">
        <ul>
            <li><a href="{% url 'home' %}">
                    <img src="{% static 'images\EPIC White logo Transparent bg.svg' %}" alt="Website Logo">
                </a></li>
            <li><a href="{% url 'posts:post_list' %}">News</li>
            <li><a href="{% url 'resolutions:select_roles' %}">Resolutions</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
        </ul>
        <form action="{% url 'search' %}" method="GET" class="search-form">
            <input type="text" name="q" placeholder="Search..." class="search-input">
            <input type="submit" value="Search" class="search-button">
        </form>
    </nav>

    <main>
        {% block content %}
        <!-- This is where the content from child templates will go -->
        {% endblock %}
    </main>

    <div class="footer">
        <div class="footer-content">
            <div class="footer-links">
                <ul>
                    <li><a href="{% url 'vulnerabilities' %}">Vulnerabilities</a></li>
                    <li><a href="{% url 'privacy' %}">Privacy</a></li>
                    <li><a href="{% url 'copyright' %}">Copyright</a></li>
                    <li><a href="{% url 'accessibility' %}">Accessibility</a></li>
                </ul>
            </div>
            <div class="social-media-links">
                <ul>
                    <li>
                        <a href="https://mastodon.social/@epicresolutions"><img
                                src="{% static 'images/mastodon_logo.svg' %}" alt="Mastodon">Mastodon</a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/company/epicresolutions/"><img
                                src="{% static 'images/linkedin_logo.svg' %}" alt="LinkedIn">LinkedIn</a>
                    </li>
                    <li>
                        <a href="https://github.com/chvanrooijen/epicresolutions"><img
                                src="{% static 'images/github_logo.svg' %}" alt="GitHub">GitHub</a>
                    </li>
                </ul>
            </div>
        </div>
        <hr>
        <p class="slogan">EPIC resolutions. A clear path to action for anyone looking to make a difference.</p>
    </div>

    <!-- Add your JavaScript files here -->
    <!-- <script src="{% static 'js/main.js' %}"></script> -->

</body>

</html>