{% extends "base.html" %}

{% block content %}
<div class="content-container">
    <h1>Posts</h1>
    {% for post in object_list %}
    <div style="margin-bottom: 35px;">
        <small style="display: block; margin-bottom: -10px;">
            {{ post.created_on | date:"F d, Y" }} | Categories:
            {% for category in post.categories.all %}
            {% if category.slug %}
            <a href="{% url 'posts:category_filter' category.slug %}">{{ category.name }}</a>{% if not forloop.last %},
            {% endif %}
            {% else %}
            <a href="{% url 'posts:category_filter_pk' category.pk %}">{{ category.name }}</a>{% if not forloop.last %},
            {% endif %}
            {% endif %}
            {% endfor %}
        </small>
        <h2><a href="{% url 'posts:post_detail' post.slug %}">{{ post.title }}</a></h2>
        <p>{{ post.content | striptags | safe | slice:":400" }}</p>
    </div>
    {% endfor %}
</div>
{% endblock %}